<div class="sidebar">
  <h3>Schedule Sync</h3>
  <a class="nav-link" href="/userDashboard/dashboard">Dashboard</a>
  <a class="nav-link" href="/celender">Calendar</a>
  <a class="nav-link" href="/leave/apply-leave">Leave request</a>
  <a class="nav-link" href="/inbox-msg">Inbox</a>

  <div style="margin-top: 40px;">
    <p style="font-weight: 600;">Current View</p>
    <button class="btn-outline-primary active-view">Meeting</button>
    <button class="btn-outline-primary">Scheduling</button>
    <button class="btn-primary">Upcoming Event</button>
  </div>
</div>
