<div class="sidebar">
  <h2>Schedule Sync</h2>
  <ul>
    <li><a href="/admin">Dashboard</a></li>
    <li><a href="/calender">Calendar</a></li>
    <li><a href="/approveLeave">Approve Leave</a></li>
    <li><a href="/admin_inbox">Inbox</a></li>
  </ul>

  <div class="current-view">
    <button>Meeting</button>
    <button>Scheduling</button>
  </div>

  <div class="upcoming-event">
    <button>Upcoming Event</button>
  </div>
</div>
