<div class="sidebar">
  <h2>Schedule Sync</h2>
  <ul>
    <li>Dashboard</li>
    <li>Calendar</li>
    <li><a href="/approveLeave">Approve Leave</a></li>
    <li>Inbox</li>
  </ul>

  <div class="current-view">
    <button>Meeting</button>
    <button>Scheduling</button>
  </div>

  <div class="upcoming-event">
    <button>Upcoming Event</button>
  </div>
</div>
