<div class="sidebar">
  <h3>Schedule Sync</h3>
  <!-- <h2 style="color: red;">SIDEBAR IS INCLUDED ✅</h2> -->

  <nav>
    <a class="nav-link" href="/user">Time table</a>
    <a class="nav-link" href="/dashboard">Dashboard</a>
    <a class="nav-link" href="/celender">Calendar</a>
    <a class="nav-link" href="/leave">Leave Request</a>
    <a class="nav-link" href="/inbox">Inbox</a>
  </nav>

  <div class="sidebar-section">
    <p style="font-weight: 600;">Current View</p>
    <button class="btn-outline-primary active-view">Meeting</button>
    <button class="btn-outline-primary">Scheduling</button>
    <button class="btn-primary">Upcoming Event</button>
  </div>
</div>
