<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Approve Leave</title>
  <link rel="stylesheet" href="/css/user.css">
</head>
<body>
  <div class="container">
    
    
    <%- include('partials/userSidebar') %>

    
    <div class="main">
      
      
      <%- include('partials/userHeader') %>

      
      
      <div class="time-table-section">
        <h2>inbox user page</h2>
      </div>

    </div>
  </div>
</body>
</html>
