<!DOCTYPE html>
<html>
<head>
  <title>Signup</title>

  <link rel="stylesheet" href="/css/signup.css">

  
</head>
  <body>
      <div class="signup-wrapper">
          <div class="welcome-panel">
            <h1>Join Us</h1>
            <p>Create an account to manage your schedule, apply for leave, and more.</p>
          </div>

          <div class="signup-panel">

            <div class="signup-container">
              <h2>Signup</h2>
              <form action="/signup" method="POST" enctype="multipart/form-data">       
                 <!-- autocomplete="off"  -->
                <label>Name:</label>
                <input type="text" name="name" placeholder="Enter your name" required>

                <label>Email:</label>
                <input type="email" name="email" placeholder="Enter your email" required>

                <label>Password:</label>
                <input type="password" name="password" placeholder="Enter your password" required>

                <label>Role:</label>
                <select name="role" required>
                  <option value="user">User</option>
                  <option value="admin">Admin</option>
                </select>

                <label>Profile Picture:</label>
                <input type="file" name="profilePic" accept="image/*">

                <button type="submit">Signup</button>
              </form>

              <div class="login-link">
                i have already have an account? <a href="/login">Login</a>
              </div>

            </div>

          </div>
      </div>
  </body>
</html>
